.learn {
	// .learn__p

	&__p {
		width: 683px;
		margin: 74px 0 40px 258px;
		font-size: 37px;
	}

	// .learn__h1

	&__h1 {
		margin: 0 0 0 504px;
		font-size: 38px;
		line-height: 48px;
		letter-spacing: 1.5px;
	}
}
